<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.softplus.print"
        version="1.0.0">

  <name>SP_PrintPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/sp_printplugin.js" target="js/sp_printplugin.js"/>

  <js-module src="www/sp_printplugin.js" name="sp_printplugin">
    <clobbers target="sp_printplugin" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="sp_printplugin">
        <param name="android-package" value="com.SoftPlus.plugin.SP_PrintPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/SP_PrintPlugin.java" target-dir="src/com/SoftPlus/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="sp_printplugin">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>
